.navbar {
  background: #1d000d;
}
.innernavbar {
  display: flex;
  justify-content: space-between;
  padding-top: 40px 20px;
}
.right-navbar {
  display: flex;
  justify-content: space-between;
}
.home1 {
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
.fab {
  padding: 20px;
}
.homee {
  background-color: #c52d2f;
  color: #fff;
}
