.footer-upper {
  text-align: center;
}
.footer {
  padding-top: 20px;
}
.lower-footer {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.flag-part img {
  width: 9%;
  height: 14%;
}
.footer-pages {
  display: flex;
  justify-content: space-between;
}
.footer-pages h4 {
  padding: 0px 4px;
}
